.cookbook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a;
  color: white;
  padding: 40px;
  flex-wrap: wrap;
}

.cookbook-left {
  position: relative;
}

.cookbook-image {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.cookbook-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 50, 90, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cookbook-overlay h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.cookbook-overlay span {
  color: #fff;
}

.cookbook-overlay p {
  font-size: 1.2rem;
  margin-top: 10px;
  letter-spacing: 2px;
}

.cookbook-right {
  max-width: 500px;
  margin-left: 40px;
}

.getit {
  font-family: cursive;
  color: #d4a017;
  font-size: 1.5rem;
}

.title {
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.desc {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

.cookbook-form {
  display: flex;
}

.cookbook-form input {
  padding: 10px;
  border: none;
  outline: none;
  width: 180px;
  margin-right: 10px;
  border-radius: 3px;
}

.cookbook-form button {
  background-color: #f7b731;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
