.start-container {
  background: linear-gradient(135deg, #480242, #b668b7);
  min-height: 100vh;
  padding-bottom: 50px;
}

.header-section {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.search-input {
  border: none;
  border-radius: 50px 0 0 50px;
  padding: 12px;
  font-size: 16px;
}

.search-btn {
  border-radius: 0 50px 50px 0;
  background-color: #fff;
  color: #79057b;
  transition: 0.3s;
}

.search-btn:hover {
  background-color: #9c3389;
  color: #fff;
}

.recipe-card {
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.recipe-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.recipe-body {
  padding: 20px;
  color: #fff;
}

.recipe-title {
  font-weight: bold;
  font-size: 20px;
}

.recipe-info {
  margin: 0;
  font-size: 14px;
}

.rating {
  color: gold;
  font-size: 18px;
}
